@font-face {
  font-family: snow;
  src:url(../fonts/EkkamaiStandard-Light.ttf);
}


div{
  font-family: snow;
    font-size: 13px;

}

.f-12{
  font-size: 12px;
}


.f-14{
  font-size: 14px;
}

.thick {
    font-weight: bold;
    font-size: 13px;
}
