@font-face {
  font-family: snow;
  src:url(../fonts/fc_lamoon_light_ver_1.00-webfont.ttf);
}


div{
  font-family: snow;
    font-size: 20px;

}

.f-16{
  font-size: 16px;
}

.f-18{
  font-size: 18px;
}


.f-14{
  font-size: 20px;
}

.thick {
    font-weight: bold;
    font-size: 13px;
}

body{
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.back{
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
