@font-face {
  font-family: snow;
  src:url(../fonts/thaisanslite_r1-webfont.ttf);
}


div{
  font-family: snow;
    font-size: 20px;

}

.f-16{
  font-size: 16px;
}

.f-18{
  font-size: 18px;
}


.f-14{
  font-size: 20px;
}

.thick {
    font-weight: bold;
    font-size: 18px;
}

body{
background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
}

.back{
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}


.handle-label{
	text-align: left !important;
}

@media screen and (min-width: 992px) {
	.handle-label{
		text-align: right !important;
	}
}
